* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.body-signup{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
    background: linear-gradient(135deg, #4b79a1 0%, #283e51 100%);
}
.btn-si {
    width: 100%;
    padding: 12px;
    background: #4b79a1;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.btn-si:hover {
    background: #283e51;
}